@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import "styles/styles";

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size:  62.5%;
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  font-size: clamp(1.2rem, 1.5vw, 2rem);
}

.img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
